<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.example.sdp_assistiverobot">

    <uses-permission
        android:name="android.permission.CHANGE_NETWORK_STATE"
        android:required="true" />
    <uses-permission
        android:name="android.permission.ACCESS_NETWORK_STATE"
        android:required="true" />
    <uses-permission
        android:name="android.permission.ACCESS_FINE_LOCATION"
        android:required="true" />
    <uses-permission
        android:name="android.permission.ACCESS_WIFI_STATE"
        android:required="true" />
    <uses-permission
        android:name="android.permission.CHANGE_WIFI_STATE"
        android:required="true" />
    <uses-permission
        android:name="android.permission.INTERNET"
        android:required="true" />
    <uses-permission
        android:name="android.permission.FOREGROUND_SERVICE"
        android:required="true" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/tadashi_logo"
        android:label="@string/app_name"
        android:persistent="true"
        android:roundIcon="@drawable/tadashi_logo"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".calendar.EditEventActivity"/>

        <service
            android:name=".calendar.DeliveryMonitorService"
            android:enabled="true"
            android:exported="false" />
        <service
            android:name=".map.GuardService"
            android:enabled="true"
            android:exported="false" />

        <activity
            android:name=".calendar.EventViewActivity"
            android:parentActivityName=".MainActivity"
            android:screenOrientation="portrait"
            android:configChanges="orientation|keyboardHidden"
            tools:ignore="LockedOrientationActivity" />
        <activity
            android:name=".calendar.AddEventActivity"
            android:parentActivityName=".MainActivity"
            android:screenOrientation="portrait"
            android:configChanges="orientation|keyboardHidden"
            tools:ignore="LockedOrientationActivity"/>
        <activity
            android:name=".userpage.ChangePasswordActivity"
            android:parentActivityName=".MainActivity"
            android:screenOrientation="portrait"
            android:configChanges="orientation|keyboardHidden"
            tools:ignore="LockedOrientationActivity"/>
        <activity
            android:name=".dashboard.ChooseResidentActivity"
            android:parentActivityName=".MainActivity"
            android:screenOrientation="portrait"
            android:configChanges="orientation|keyboardHidden"
            tools:ignore="LockedOrientationActivity"/>

        <service
            android:name=".map.NetworkCommService"
            android:enabled="true" />

<!--        <activity-->
<!--            android:name=".dashboard.ChoosePatientActivity"-->
<!--            android:parentActivityName=".MainActivity" />-->
        <activity
            android:name=".residents.EditResidentActivity"
            android:parentActivityName=".residents.ResidentViewActivity"
            android:screenOrientation="portrait"
            android:configChanges="orientation|keyboardHidden"
            tools:ignore="LockedOrientationActivity"/>
        <activity
            android:name=".residents.ResidentViewActivity"
            android:launchMode="singleTop"
            android:parentActivityName=".MainActivity"
            android:screenOrientation="portrait"
            android:configChanges="orientation|keyboardHidden"
            tools:ignore="LockedOrientationActivity"/>
        <activity
            android:name=".residents.AddResidentActivity"
            android:parentActivityName=".MainActivity"
            android:screenOrientation="portrait"
            android:configChanges="orientation|keyboardHidden"
            tools:ignore="LockedOrientationActivity"/>
        <activity
            android:name=".login.SignupActivity"
            android:parentActivityName=".login.LoginActivity"
            android:screenOrientation="portrait"
            android:configChanges="orientation|keyboardHidden"
            tools:ignore="LockedOrientationActivity"/>
        <activity android:name=".login.LoginActivity"
            android:screenOrientation="portrait"
            android:configChanges="orientation|keyboardHidden"
            tools:ignore="LockedOrientationActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".MainActivity"
            android:launchMode="singleTask"
            android:screenOrientation="portrait"
            android:configChanges="orientation|keyboardHidden"
            tools:ignore="LockedOrientationActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
            </intent-filter>
        </activity>

        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="AIzaSyAA5XtDe4d03DYxH1GNEWljOuwdWXsEE5Y" />
        <meta-data
            android:name="com.google.android.gms.version"
            android:value="@integer/google_play_services_version" />
    </application>

</manifest>